@use 'variables';


.footer {
    padding: 20px;
    text-align: center;
    background-color: variables.$headerbackgroundfootercolor;
    .footer__text {
        font-size: 16px;
        color: variables.$headerfootercolor;
    }
}