@font-face {
    font-family: 'intensa';
    src: url('../fonts/Intensa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$primaryFont: 'intensa';
$secondaryFont: Roboto;


$titleFont-size: 28px;
$menuFont-size: 24px;

$sinopseColor:#6d7c96;
$textColor: #fff;
$blue: #174da2;
$softyellow: #e59d5b;
$green: #404926;
$purple: #633f82;